ul{
  display: flex;
  flex-wrap: wrap;
}

ul li{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 25%;
  padding: 20px 0;

}

ul li img{
  display: block;
  width: 75%;
  height: auto;
  padding: 15px 0;
  margin: 0 auto;
}
