.App {
  text-align: center;
  background-color: #5cdb95;
}

header{
  background-color: #379683;
  padding: 20px;
  color: white;
}

.chuck-norris-container{

}

.chuck-norris-container img{
  position: relative;
  width: 600px;
  height: auto;
  top: 300px;
}

.quote-container{
  left: 52%;
  position: relative;
  height: 440px;
  width: 44%;
  background-repeat: no-repeat;
  background-image: url(https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Speech-Bubble-PNG/Speech_Bubble_White_Blue_PNG_Clip_Art_Image.png?m=1507172110);
  bottom: 410px;
  }

.quote-container h3{
position: absolute;
top: 30%;
padding: 0 50px;

}

.chuck-norris-container button{
  position: relative;
    top: -110px;

}
